* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: #c50808;
  color: #ffffff;
}

.canadiens-logo {
  height: 5vh;
  padding-left: 1rem;
}

.content-container {
  min-height: 80vh;
  width: 100%;
  display: flex;
  /* align-items: center;*/
  /* justify-content: center; */
  flex-direction: column;
  text-align: center;
}

.today-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 80vh;
}

.today-title {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  padding-bottom: 0.6rem;
}

.games {
  width: 50%;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.no-games {
  padding-top: 30%;
}

.twitter {
  width: 50%;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.standings-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tab-panel {
  display: flex;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}

.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
}

@media only screen and (max-width: 800px) {
  .today-container {
    flex-direction: column;
  }
  .games, .twitter {
    width: 100%;
  }
  .games {
    min-height: 80vh;
  }
}
